---
import About from '@/components/original/about'
import Date from '@/components/original/date'
import Profile from '@/components/original/profile'
import Works from '@/components/original/works'
import Layout from '@/layouts/Layout.astro'
import { getAbout } from '@/lib/newt/about'
import { getWorks } from '@/lib/newt/work'
import { Image } from 'astro:assets'
import { site } from 'data/site_data'
import Icon from 'public/icon.jpg'

const about = await getAbout()
const works = await getWorks()
---

<Layout title={`${about[0].name} | ${site.title}`}>
  <main class="container max-w-4xl pb-16 space-y-10">
    <div>
      <Date />
    </div>
    <div>
      <Profile name={about[0].name} position={about[0].position} client:load>
        <Image src={Icon} alt={about[0].name} loading="eager" />
      </Profile>
    </div>
    <div>
      <About content={about[0].content} />
    </div>
    <div>
      <Works works={works} />
    </div>
  </main>
</Layout>
